{% extends "oscar/dashboard/catalogue/product_class_form.html" %}
{% load i18n %}


{% block product_attributes %}
<div class="tab-pane" id="product_attributes">
    <div class="table-header">
        <h3>{% trans "Product attributes" %}</h3>
    </div>
    <div class="product-attributes">
        <table class="table table-striped table-bordered">
            {{ attributes_formset.management_form }}
            {{ attributes_formset.non_form_errors }}
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Code" %}</th>
                    <th>{% trans "Type" %}</th>
                    <th>{% trans "variants" %}</th>
                    <th>{% trans "product class option names" %}</th>
                    <th>{% trans "Required" %}</th>
                    <th>{% trans "Delete?" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for attribute_form in attributes_formset %}
                <tr>
                    {% for hidden_field in attribute_form.hidden_fields %}
                    {{ hidden_field }}
                    {% endfor %}
                    <td>{% include 'oscar/dashboard/partials/form_field.html' with field=attribute_form.name nolabel=True %}</td>
                        
                    <td>{% include 'oscar/dashboard/partials/form_field.html' with field=attribute_form.code nolabel=True %}</td>
                        
                    <td>
                        {% include 'oscar/dashboard/partials/form_field.html' with field=attribute_form.type nolabel=True %}
                        

                        {% include 'oscar/dashboard/partials/form_field.html' with field=attribute_form.option_group nolabel=True %}
                        
                    </td>
                    <td>{% include 'oscar/dashboard/partials/form_field.html' with field=attribute_form.variants nolabel=True %}{{ attribute_form.non_field_errors }}</td>
                    <td>{% include 'oscar/dashboard/partials/form_field.html' with field=attribute_form.product_class_option_names nolabel=True %}{{ attribute_form.non_field_errors }}</td>
                    <td>{% include 'oscar/dashboard/partials/form_field.html' with field=attribute_form.required nolabel=True %}{{ attribute_form.non_field_errors }}</td>
                        
                    <td>{% include 'oscar/dashboard/partials/form_field.html' with field=attribute_form.DELETE nolabel=True %}</td>
                        
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}