{% load widget_tweaks %}


<div class="topbar__item-button topbar__menu">
    <button class="topbar__button topbar__button--has-arrow topbar__menu-button" type="button"><span
            class="topbar__button-label">Currency:</span> 
            <span class="topbar__button-title">{{ request.session.currency }}</span>
        <span class="topbar__button-arrow">
            <svg width="7px" height="5px">
                <path
                    d="M0.280,0.282 C0.645,-0.084 1.238,-0.077 1.596,0.297 L3.504,2.310 L5.413,0.297 C5.770,-0.077 6.363,-0.084 6.728,0.282 C7.080,0.634 7.088,1.203 6.746,1.565 L3.504,5.007 L0.262,1.565 C-0.080,1.203 -0.072,0.634 0.280,0.282 Z" />
            </svg>
        </span>
        </button>
        <div class="topbar__menu-body">
    <form action="{% url 'basket:basket-currency' %}" method="post" id="currency-form">

        {% csrf_token %}

        <select name="currency" id="id_currency" onchange="this.form.submit()" >

            <option value="EUR" {% if request.session.currency == 'EUR' %} selected {% endif %} class="topbar__menu-item">€ Euro </option>
             
             <option value="GBP" {% if request.session.currency == 'GBP' %} selected {% endif %} class="topbar__menu-item">£ Pound Sterling</option>
                 
             <option value="USD" {% if request.session.currency == 'USD' %} selected {% endif %} class="topbar__menu-item">$ US Dollar</option>
                 
             <option value="RUB" {% if request.session.currency == 'RUB' %} selected {% endif %} class="topbar__menu-item">₽ Russian Ruble</option>
                 
             <option value="RON" {% if request.session.currency == 'RON' %} selected {% endif %} class="topbar__menu-item">RON </option>
             
             <option value="HUF" {% if request.session.currency == 'HUF' %} selected {% endif %} class="topbar__menu-item">HUF </option>
             
             <option value="CZK" {% if request.session.currency == 'CZK' %} selected {% endif %} class="topbar__menu-item">CZK </option>

        </select>
        
            
            
        
    </form>
    </div>
</div>