{% load history_tags %}
{% load basket_tags %}
{% load currency_filters %}
{% load image_tags %}

<div class="indicator indicator--trigger--click">

    <a href="{% url 'basket:summary' %}" class="indicator__button">
        <span class="indicator__icon"><svg width="32" height="32">
                <circle cx="10.5" cy="27.5" r="2.5" />
                <circle cx="23.5" cy="27.5" r="2.5" />
                <path d="M26.4,21H11.2C10,21,9,20.2,8.8,19.1L5.4,4.8C5.3,4.3,4.9,4,4.4,4H1C0.4,4,0,3.6,0,3s0.4-1,1-1h3.4C5.8,2,7,3,7.3,4.3
	l3.4,14.3c0.1,0.2,0.3,0.4,0.5,0.4h15.2c0.2,0,0.4-0.1,0.5-0.4l3.1-10c0.1-0.2,0-0.4-0.1-0.4C29.8,8.1,29.7,8,29.5,8H14
	c-0.6,0-1-0.4-1-1s0.4-1,1-1h15.5c0.8,0,1.5,0.4,2,1c0.5,0.6,0.6,1.5,0.4,2.2l-3.1,10C28.5,20.3,27.5,21,26.4,21z" />
            </svg> <span class="indicator__counter">{{ request.basket.num_lines }}</span>

        </span><span class="indicator__title"> Shopping Cart</span>
            
             <span class="indicator__value">
                {% with converted_value=request.basket.total_incl_tax|currency:current_currency%}
                {% if converted_value is not None %}
                {{ converted_value }}
                {% endif %}
                {% endwith %}
            
            </span></a>
    <div class="indicator__content">
        {% if request.basket.num_lines %}
        <div class="dropcart">
            
            <ul class="dropcart__list">
                {% for line in request.basket.all_lines %}
                <li class="dropcart__item">
                    <div class="dropcart__item-image image image--type--product">
                        {% with image=line.product.primary_image %}
                        <a class="image__body" href="{{ line.product.get_absolute_url }}">
                        {% oscar_thumbnail image.original "70x70"  upscale=False as thumb %}
            
                            <img class="image__tag" src="{{ thumb.url }}"alt="{{ line.product.get_title }}">
                        </a>
                        {% endwith %}
                    </div>
                                
                    <div class="dropcart__item-info">
                        <div class="dropcart__item-name"><a href="{{ line.product.get_absolute_url }}">
                            {{ line.description }}
                        </a></div>
                                
                        <ul class="dropcart__item-features">
                           
                            <li>{{ line.product.attribute_summary }}</li>
                        </ul>
                        <div class="dropcart__item-meta">
                            <div class="dropcart__item-quantity">{{ line.quantity}}</div>
                            <div class="dropcart__item-price">{{ line.unit_price_excl_tax|currency:current_currency }}</div>  
                            <div class="dropcart__item-price">{{ line.unit_price_incl_tax|currency:current_currency }}</div>  
                        </div>
                    </div>
                </li>
                <li class="dropcart__divider" role="presentation"></li>
                {% endfor %}
            </ul>
            <div class="dropcart__totals">
                <table>
                    <tr>
                        <th>Subtotal</th>
                        <td>
                            {% with converted_value=request.basket.total_excl_tax|currency:current_currency%}
                            {% if converted_value is not None %}
                            {{ converted_value }}
                            {% endif %}
                            {% endwith %}
                        </td>
                    </tr>
                    {% if request.basket.is_tax_known %}
                    <tr>
                        <th>Tax</th>
                        <td>
                            {% with converted_value=request.basket.total_incl_tax|currency:current_currency%}
                            {% if converted_value is not None %}
                            {{ converted_value }}
                            {% endif %}
                            {% endwith %}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Total</th>
                        <td>

                            {% with converted_value=request.basket.total_incl_tax|currency:current_currency%}
                            {% if converted_value is not None %}
                            {{ converted_value }}
                            {% endif %}
                            {% endwith %}


                        </td>
                    </tr>
                </table>
            </div>
            <div class="dropcart__actions">
                <a href="{% url 'basket:summary' %}" class="btn btn-secondary">View Cart</a>
                <a href="{% url 'checkout:index' %}" class="btn btn-primary">Checkout</a>
            </div>
        </div>
        {% else %}
        <p> Your Basket is empty </p>
        {% endif %}
    </div>

</div>